DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nest?schema=public"
JWT_SECRET="change_this_secret"
DEEPSEEK_URL="https://api.deepseek.com"
DEEPSEEK_API_KEY="sk-776bb4a283b64fc79d64b197119e8123"